<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <label> 
      Name:
    <input type="text" name="name">
  </label>
  <label>
   Amount:
    <input type="text" name="amount">
  </label>
  <label>

    <input type="submit" value="Confirm Transaction">
  </form>