<!DOCTYPE html>
<html>
<head>
  <h1>MoneyCashBoard</h1>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <style>
  body{font-family: 'Cinzel', serif;
font-size: 20px;}
</style>
</head>
<body>

<!-- <img src="the-last-shirt-dollar-bill-20-euro-folded-128878.jpeg"> -->
<main class="flex flex--row">
  <nav>
    <ul>
      <li>
        <a href="/users">Merchant</a>
      </li>
      <li>
        <a href="/transactions">Transactions</a>
      </li>
      <li>
        <a href="/tags">Tags</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
<html>
