<table style="width:100% border: 1px solid black;">
  <tr>
    <th>Merchant Name</th>
    <th>Transaction Amount</th> 
    <th>Tag</th>
  </tr>
  <tr>
    <td>Subway</td>
    <td>£11</td> 
    <td>Food</td>
  </tr>
  <tr>
    <td>Tesco</td>
    <td>£123</td> 
    <td>Shopping, Food</td>
  </tr>
</table>